<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nooran kahvikauppa - Muokkaa</title>
  </head>
  <body>
    <button class="btn btn-light">
      <a href="./../../toimittajat">Takaisin</a>
    </button>

    <p>Toimittajan nimi: <span th:text="${toimittaja.nimi}">nimi</span>.</p>
    <p>
      Yhteyshenkilön nimi:
      <span th:text="${toimittaja.yhteyshenkilo}">nimi</span>.
    </p>
    <p>
      Yhteyshenkilön sähköposti:
      <span th:text="${toimittaja.yhteyshenkiloemail}">email</span>.
    </p>

    <form
      action="#"
      method="POST"
      th:action="@{/toimittajat/edit/{id}(id=${toimittaja.id})}"
      th:object="${toimittaja}"
    >
      <label for="nimi">Nimi</label>
      <input type="text" th:field="*{nimi}" id="nimi" placeholder="Nimi" />
      <label for="yhteyshenkilo">Yhteyshenkilön nimi</label>
      <input
        type="text"
        th:field="*{yhteyshenkilo}"
        id="yhteyshenkilo"
        placeholder="yhteyshenkilo"
      />
      <label for="yhteyshenkiloemail">Yhteyshenkilön email</label>
      <input
        type="text"
        th:field="*{yhteyshenkiloemail}"
        id="yhteyshenkiloemail"
        placeholder="yhteyshenkiloemail"
      />
      <input type="submit" value="Päivitä toimittajan tiedot" />
    </form>
  </body>
</html>
