<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nooran kahvikauppa - Toimittajat</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
  </head>
  <body>
    <table>
      <tr>
        <th>Id</th>
        <th>Toimittajan nimi</th>
        <th>Yhteyshenkilö</th>
        <th>Yhteyshenkilön email</th>
      </tr>
      <tr th:each="toimittaja : ${toimittajat}">
        <td th:text="${toimittaja.id}"></td>
        <td th:text="${toimittaja.nimi}"></td>
        <td th:text="${toimittaja.yhteyshenkilo}"></td>
        <td th:text="${toimittaja.yhteyshenkiloemail}"></td>
      </tr>
    </table>

    <div class="container">
      <form th:action="@{/toimittajat}" method="POST">
        <div class="row">
          <div class="col-25">
            <label for="nimi">Toimittaja:</label>
          </div>
          <div class="col-75">
            <input type="text" name="nimi" />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="yhteyshenkilo">Yhteyshenkilö:</label>
          </div>
          <div class="col-75">
            <input type="text" name="yhteyshenkilo" />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="yhteyshenkiloemail">Yhteyshenkilön email:</label>
          </div>
          <div class="col-75">
            <input type="text" name="yhteyshenkiloemail" />
          </div>
        </div>

        <br />
        <div class="row">
          <input type="submit" value="Lisää toimittaja" />
        </div>
      </form>
    </div>
  </body>
</html>
